* {
    box-sizing: border-box;
}
body{
    margin:1em;
    font: 2em/1 helvetica;
    background-color: black;
}

h1 {
    font-size: 1em;
    color: white;
    text-align: center;
    color: red;
}

header {
    text-align: center;
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .5em;
}

h2 {
    text-align: center;
    padding: .8em 0;
    font-size: .8em;
    color: white;
    background-color: grey;
    margin: 0 0 1em 0;
    height: 3.5em
}

p {
    color: black;
    font-size: .5em;
    padding: 0 1em;
    text-align: left;
}

article {
    text-align: center;
    max-width: 40%;
    margin: 1em .8em;
    background-color: white;
    padding-bottom: .5em
}

img {
    width: 50%;
    margin: auto;
}

span{
    color: green;
    margin: 0;
    padding: 1em;
    width: calc(6 * 450px);
    list-style-position: inside;
    background: DARKSEAGREEN;
    transition: all 1s ease;
    display: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

li, ul {
    font-size: .7em;
}

article > p:nth-of-type(4){
    display: none;
}

article > p.show:nth-of-type(4){
    display: inline-block;
}

.show{
    display: inline;
    transition: 2s;
}

.hide{
    display: none;
}

/* ************* */
section ul{
    display: none;
    padding: 0;
    background: pink;
}
