* {
    box-sizing:border-box;
    font-family: sans-serif;
}

html {
    background-color: grey;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
}

.slideshow-container {
    max-width: 40em;
    position: relative;
    margin: auto;
}

img {
    width: 100%;
    box-shadow: 0px 20px 10px 10px rgba(0,0,0,0.5);
}

.mySlides {
    display: none;
}

.vorig, .volgend {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.volgend {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.vorig:hover, .volgend:hover {
    background-color: rgba(238, 238, 238, .8);
}

p {
    color: #f2f2f2;
    font-size: 1em;
    padding: .5em 1em;
    position: absolute;
    bottom: .5em;
    width: 100%;
    text-align: center;
}

.nummertekst {
    color: #f2f2f2;
    font-size: .8em;
    padding: .5em 1em;
    position: absolute;
    top: 0;
}

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 2em .1em;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #bbb;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
